@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --NavTealBG: #287c6d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply bg-darkteal text-white px-10 h-screen;
}

.afterLink:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 20%;
  top: 90%;
  rotate: 180deg;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f00;
  animation: drop 0.5s infinite alternate;
  z-index: -1;
}

@keyframes drop {
  from {
    transform: translateX(-50%) translateY(0);
  }
  to {
    transform: translateX(-50%) translateY(-2px);
  }
}
.afterLinkStay::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 40%;
  top: 90%;
  rotate: 180deg;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f00;
  z-index: -1;
}

.bgForNavButton::before {
  content: "";
  position: absolute;
  top: 0; /* Align to the top of the parent */
  left: 10; /* Align to the left of the parent */
  width: 100%; /* Full width of the parent */
  height: 100%; /* Full height of the parent */
  background-color: var(--NavTealBG);
  z-index: -1; /* Ensure it's behind the nav button */
  animation: navBG 0.5s;
}

@keyframes navBG {
  from {
    transform: translateX(-10%) translateY(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) translateY(0);
    opacity: 100;
  }
}
.img {
  object-fit: cover;
}
.date {
  transform: rotate(90deg);
}
.imageContainerBlog {
  width: 500px;
  height: 400px;
  position: relative;
}
.Button {
  @apply p-2 md:min-w-[90px] min-w-[80px]  text-black font-semibold rounded-md hover:bg-teal-600 hover:text-white cursor-pointer  sm:text-base bg-teal-300 text-xs;
}
.homeP {
  @apply text-sm sm:text-base;
}

.aboutSmallThing {
  @apply text-teal-400 font-extrabold md:text-lg text-base;
}
.aboutSmallThingText {
  @apply md:text-lg text-xs sm:text-sm;
}

.imageContainer {
  @apply w-[300px] h-[300px] lg:w-[800px] lg:h-[600px] md:w-[400px] md:h-[400px] relative;
}

.inputStyle {
  @apply placeholder:capitalize bg-teal-900 p-5 rounded-md focus:bg-teal-100 transition-colors duration-100 text-black focus:ring-2 focus:outline-none  focus:ring-teal-300 focus:ring-offset-current focus:ring-offset-2;
}
